/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toast-container {
  z-index: 99999 !important;
  position: fixed !important;
  pointer-events: none;
}

.toast-top-right {
  top: 1rem;
  right: 1rem;
}

.toast-message {
  padding-left: 8px;
}

.toast-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
}
